body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bubble {
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
}

.userName {
  font-size: small;
  color: lightgray;
  position: absolute;
  bottom: 100%;
  left: 0;
}


.bubble-left {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.bubble-right {
  background-color: #007bff;
  align-self: flex-end;
  color: #fff;
}



.size-box{
  border: 1px solid #ccc;
  padding: 10px ;
  overflow-y: auto;
  border-radius: 5px;
  max-height: 80vh;
  min-height: 80vh;
}

.size-box-main{
  border: 1px solid #ccc;
  padding: 10px ;
  overflow-y: auto;
  border-radius: 5px;
  max-height: 80vh;
  min-height: 80vh;
  min-width: 70%;
}


/*scrollbar fun >:3*/
::-webkit-scrollbar {
  width: 5px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc; /* Color of the scroll thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf; /* Color of the scroll thumb on hover*/
}
